{% extends "pages/base.html" %}
{% load static %}

{% block navbar %}
    <!-- Search Form -->
    <div class="search-container">
        <form method="GET" action="{% url 'players' %}">
            <input type="text" name="q" class="search-bar" placeholder="Search players..." value="{{ query }}">
        </form>
    </div>
{% endblock navbar %}

{% block content %}
    <!-- Players Table -->
    <div class="players-container">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Team</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr>
                        <td><img src="{% static 'images/' %}{{ player.image_url }}.jpg" alt="{{ player.name }}"></td>
                        <td>{{ player.rank }}</td>
                        <td>
                            <a href="{% url 'player_detail' player.image_url %}" class="text-white">
                                {{ player.name }}
                            </a>
                        </td>
                        <td>{{ player.position }}</td>
                        <td>{{ player.team }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No players found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}