{% extends "pages/base.html" %}
{% load static %}

{% block content %}
<div class="teams-container">
    <div class="team-list">
        <h2>Eastern Conference</h2>
        <table>
            {% for team in teams_east %}
            <tr>
                <td>{{ team.name }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="team-list">
        <h2>Western Conference</h2>
        <table>
            {% for team in teams_west %}
            <tr>
                <td>{{ team.name }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}